
@font-face {
  font-family: OpenSans;
  src: url('/ressources/fonts/OpenSans/OpenSans-Regular.ttf');
}

* {
  -primary-color: "#2f3136";
  -primary-color-light: "#404248";
  -accent-color: rgba(255, 87, 34);
  -accent-color-low: rgba(255, 87, 34, 0.4);
  -accent-color-medium: rgba(255, 87, 34, 0.6);
  -accent-color-high: rgba(255, 87, 34, 0.7);
  -text-color: white;
  -light-gray: rgba(255, 255, 255, 0.25);
}

.root {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: transparent;
  -fx-background-color: -primary-color;
  -fx-font-family: OpenSans, sans-serif;
}

.text-field {
  -fx-background-radius: 6px;
  -fx-background-insets: 0;
  -fx-background-color: -primary-color-light;
  -fx-text-box-border: transparent;
  -fx-text-fill: -text-color;
  -fx-font-weight: bold;
  -fx-padding: 6px 8px 6px 8px;
  -fx-highlight-fill: -accent-color-high;
}

.label {
  -fx-text-fill: -text-color;
  -fx-font-weight: bold;
}

/* GLUE DES VBOX/HBOX */
.separator {
  -fx-opacity: 0;
}

.button {
  -fx-background-color: transparent;
}

.button:hover {
  -fx-background-color: rgba(255,255,255,0.1);
}

.button:pressed {
  -fx-background-color: rgba(255,255,255,0.2);
}

