
@font-face {
  font-family: OpenSans;
  src: url('/ressources/fonts/OpenSans/OpenSans-Regular.ttf');
}

* {
  -primary-color: "#455A64";
  -primary-color-light: "#607D8B";
  -accent-color: "#FF5722";
  -accent-color-40: rgba(255, 87, 34, 0.4);
  -accent-color-80: rgba(255, 87, 34, 0.8);
  -text-color: white;
}

.root {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: transparent;
  -fx-background-color: -primary-color;
  -fx-font-family: OpenSans, sans-serif;
}

#searchinput {
  -fx-text-box-border: transparent;
  -fx-text-fill: -text-color;
  -fx-font-weight: bold;
}


/* SCROLLBARS */

.scroll-bar {
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 4px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-padding: 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0 6px 0 6px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color : -primary-color;
  -fx-background-radius : 8px;
}


/* LISTVIEW */

#searchList, #priorityList, #secondaryList, #searchinput {
  -fx-background-radius: 6px;
  -fx-background-insets: 0;
  -fx-padding: 4px;
  -fx-background-color: -primary-color-light;
}

.list-cell {
  -fx-background-color: transparent;
  -fx-text-fill: -text-color;
  -fx-font-weight: bold;
  -fx-font-family: OpenSans, sans-serif;
  -fx-background-radius: 4px;
  -fx-padding: 8px;
}

.list-cell:filled:hover {
  -fx-background-color: -accent-color-40;
}

.list-cell:filled:selected {
  -fx-background-color: -accent-color-80;
}

#author, #duration {
  -fx-font-weight: normal;
}

/* GLUE DES VBOX/HBOX */
.separator {
  -fx-opacity: 0;
}


/* PROGRESSBAR ET SLIDER */

.progress-bar {
  -fx-background-radius: 100%;
  -fx-background-insets: 0;
}

.progress-bar .bar {
  -fx-padding: 3px;
  -fx-background-insets: 0;
  -fx-background-color: -accent-color;
}

.progress-bar .track {
  -fx-control-inner-background: -text-color;
  -fx-text-box-border: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 8px;
}

.slider {
  -fx-padding: 1px 0 1px 0;
}

.slider .track {
  -fx-background-color: null;
  -fx-padding: 8px;
}

.slider .thumb {
  -fx-background-color: -accent-color;
  -fx-padding: 8px;
}


/* LABEL */

.label {
  -fx-text-fill: -text-color;
  -fx-font-weight: bold;
}

.musicTime {
  -fx-font-weight: normal;
  -fx-font-size: 15px;
}

.titleList {
  -fx-font-size: 17px;
}

#titleMusic {
  -fx-font-size: 18px;
}

#authorMusic {
  -fx-font-weight: normal;
}


/* BUTTON */

.button {
  -fx-background-color: transparent;
}

.button:hover {
  -fx-background-color: rgba(255,255,255,0.1);
}

.button:pressed {
  -fx-background-color: rgba(255,255,255,0.2);
}

#bshuffle, #bprecedent, #bplaypause, #bnext, #bloop, #bparameters, #bmute {
  -fx-background-radius: 100%;
  -fx-background-size: 30px;
  -fx-min-width: 45px;
  -fx-min-height: 45px;
  -fx-max-width: 45px;
  -fx-max-height: 45px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#bplaypause {
  -fx-min-width: 60px;
  -fx-min-height: 60px;
  -fx-max-width: 60px;
  -fx-max-height: 60px;
  -fx-background-size: 45px;
}

#bshuffle {
  -fx-background-image: url('/ressources/images/shuffle.png');
}

#bprecedent {
  -fx-background-image: url('/ressources/images/precedent.png');
}

#bplaypause {
  -fx-background-image: url('/ressources/images/play.png');
}

#bnext {
  -fx-background-image: url('/ressources/images/next.png');
}

#bloop {
  -fx-background-image: url('/ressources/images/loop.png');
}

#bparameters {
  -fx-background-image: url('/ressources/images/config.png');
}

#bmute {
  -fx-background-image: url('/ressources/images/soundOn.png');
}