
#searchinput {
  -fx-text-box-border: transparent;
  -fx-padding: 8px;
}

#searchList, #priorityList, #secondaryList, #searchinput {
  -fx-background-radius: 8px;
  -fx-background-insets: 0;
}

.separator {
  -fx-opacity: 0;
}

.slider {
  -fx-background-color: blue;
  -fx-padding: 0;
}

.slider .track {
  -fx-padding: 8px 0 8px 0;
}

.label {
  -fx-background-color: yellow;
}

#bshuffle, #bprecedent, #bplaypause, #bnext, #bloop, #bparameters, #bmute {
  -fx-background-size: 40px;
  -fx-min-width: 40px;
  -fx-min-height: 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#bplaypause {
  -fx-min-width: 60px;
  -fx-min-height: 60px;
  -fx-background-size: 60px;
}

#bshuffle {
  -fx-background-image: url('/ressources/images/shuffle.png');
}

#bprecedent {
  -fx-background-image: url('/ressources/images/precedent.png');
}

#bplaypause {
  -fx-background-image: url('/ressources/images/play.png');
}

#bnext {
  -fx-background-image: url('/ressources/images/next.png');
}

#bloop {
  -fx-background-image: url('/ressources/images/loop.png');
}

#bparameters {
  -fx-background-image: url('/ressources/images/config.png');
}

#bmute {
  -fx-background-image: url('/ressources/images/soundOn.png');
}